$naropa-color: #e765e7;
$cu-color: #EBD47E;
$bpl-color: #26a69a;


#library {
  
  // give valign wrapper extra height for vertical centering
  .valign-wrapper {
    height: 500px;
    transition: all 1s ease-out;
  }
  
  // split up labels a little bit
  input[type='checkbox']+label {  
    margin-right:50px;
  }
  
  
  .result {
    
    // hide results at start
    display: none;
    
    // remove text margins
    p { margin: 0px;  }    

    // remove the link styling
    a {
        text-decoration: none;
        color: inherit;
    }
    
    // add padding
    div.col, 
    &.loading > a > div {
      padding: 20px;
    }
    
    // hover effect on findings and "more"
    &.hover-effect:hover {
      // Material z-index 1 equivalent
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    
    // limit icons to 100px width
    img {
      max-width: 100%;
      width: 100px;
    }
    
  }

  // coloring of findings
  #results .result-naropa {
    background-color: transparentize($naropa-color, 0.75);
    
    &.hover-effect:hover {
      background-color: $naropa-color;
    }
  }

  #results .result-cu {
     background-color: transparentize($cu-color, 0.75);
    
    &.hover-effect:hover {
      background-color: $cu-color;
    }
  }

  #results .result-bpl {
    background-color: transparentize($bpl-color, 0.75);
    
    &.hover-effect:hover {
      background-color: $bpl-color;
    }
    
  }
}